.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.country-info {
  width: 300px;
  height: 700px;
  overflow: scroll;
}

.game-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 900px;
  margin-right: 100px;
}

/* .game-background {

    width: 600px;
    height: 600px;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

  @media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://image.shutterstock.com/image-vector/planet-earth-world-globe-oceans-260nw-710617870.jpg") no-repeat;
      background-size: cover;
    } 
 } */