.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.country-info {
  width: 300px;
  height: 700px;
  overflow: scroll;
}

.country-info img {
  border: 1px solid black;
}

.game-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  width: 900px;
  margin-right: 100px;
}

.player-div {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 115px;
}

.computer-div {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 115px;
}

.card {
  width: 270px;
  height: 400px;
  border: 7px groove orange;
  background-color: #f5f5f5	;
  border-radius: 10px;
  margin-top: 10px;
}

.card table {
  margin-top: 15px;
  border: 1px solid white;
  justify-content: center;
}

.card table td {
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #ffa500;
}

tr:nth-child(odd) {
  background-color: #dda0dd;
}

.card h3 {
  text-align: center;
  background-color: #ffa500;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .game-background {

    width: 600px;
    height: 600px;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

  @media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://image.shutterstock.com/image-vector/planet-earth-world-globe-oceans-260nw-710617870.jpg") no-repeat;
      background-size: cover;
    } 
 } */